<!-- /templates/product.liquid -->
<div itemscope itemtype="http://schema.org/Product" id="ProductSection--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product-template" data-image-zoom-type="{{ section.settings.zoom_enable }}" data-enable-history-state="true" data-scroll-to-image="{% if section.settings.image_layout == "stacked" %}true{% else %}false{% endif %}">

    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

    {% assign current_variant = product.selected_or_first_available_variant %}
    {% assign featured_image = current_variant.featured_image | default: product.featured_image %}



	{% include 'hypervisual' %}


    <div id="cbb-frequently-bought-box"></div>
    {% if collection %}
      <hr class="hr--clear">
      <div class="text-center">
        <a href="{{ collection.url }}" class="return-link">&larr; {{ 'products.general.collection_return' | t: collection: collection.title }}</a>
      </div>
    {% endif %}

</div>
{% unless product.empty == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}



{% schema %}
{
  "name": {
    "de": "Produktseiten",
    "en": "Product pages",
    "es": "Páginas de productos",
    "fr": "Pages de produits",
    "it": "Pagine di prodotto",
    "ja": "商品ページ",
    "pt-BR": "Páginas de produtos"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "zoom_enable",
      "label": {
        "de": "Aktivieren des Bildzooms",
        "en": "Enable image zoom",
        "es": "Habilitar zoom de imagen",
        "fr": "Activer le zoom sur image",
        "it": "Abilita lo zoom dell'immagine",
        "ja": "画像ズームを有効にする",
        "pt-BR": "Ative o zoom da imagem"
      }
    },
    {
      "type": "checkbox",
      "id": "social_sharing_products",
      "label": {
        "de": "Teilen von Produkten aktivieren",
        "en": "Enable product sharing",
        "es": "Habilitar compartir productos",
        "fr": "Activer le partage de produits",
        "it": "Permetti condivisione del prodotto",
        "ja": "商品の共有を有効にする",
        "pt-BR": "Habilite o compartilhamento de produtos"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "product_vendor_enable",
      "label": {
        "de": "Produktverkäufer anzeigen",
        "en": "Show product vendor",
        "es": "Mostrar proveedor del producto",
        "fr": "Afficher le distributeur du produit",
        "it": "Indica fornitore prodotto",
        "ja": "商品の販売元を表示する",
        "pt-BR": "Exiba o fornecedor do produto"
      }
    },
    {
      "type": "select",
      "id": "image_layout",
      "label": {
        "de": "Bildanzeige",
        "en": "Image display",
        "es": "Visualización de imagen",
        "fr": "Affichage de l'image",
        "it": "Visualizzazione immagine",
        "ja": "画像表示",
        "pt-BR": "Exibição de imagem"
      },
      "default": "stacked",
      "options": [
        {
          "value": "stacked",
          "label": {
            "de": "Gestapelt",
            "en": "Stacked",
            "es": "Stacked",
            "fr": "Empiler",
            "it": "Elenco",
            "ja": "スタックされました",
            "pt-BR": "Empilhado"
          }
        },
        {
          "value": "thumbnails",
          "label": {
            "de": "Vorschaubilder",
            "en": "Thumbnails",
            "es": "Miniaturas",
            "fr": "Vignettes",
            "it": "Miniature",
            "ja": "サムネイル",
            "pt-BR": "Miniaturas"
          }
        }
      ]
    },
    {
      "type": "header",
      "content": {
        "de": "Produktoptionsformular",
        "en": "Product options form",
        "es": "Formulario de opciones de producto",
        "fr": "Formulaire d'options de produit",
        "it": "Modulo delle opzioni di prodotto",
        "ja": "商品オプションのフォーム",
        "pt-BR": "Formulário de opções de produtos"
      }
    },
    {
      "type": "checkbox",
      "id": "quantity_enabled",
      "label": {
        "de": "Mengenauswahl anzeigen",
        "en": "Show quantity picker",
        "es": "Mostrar selector de cantidad",
        "fr": "Afficher le sélecteur de quantité",
        "it": "Mostra selettore di quantità",
        "ja": "数量ピッカーを表示する",
        "pt-BR": "Exibir seletor de quantidade"
      }
    },
    {
      "type": "select",
      "id": "product_selector",
      "label": {
        "de": "Auswahlart",
        "en": "Picker type",
        "es": "Tipo de selector",
        "fr": "Type de sélecteur",
        "it": "Tipo di selettore",
        "ja": "ピッカーの種類",
        "pt-BR": "Tipo de seletor"
      },
      "options": [
        {
          "value": "radio",
          "label": {
            "de": "Schaltfläche",
            "en": "Button",
            "es": "Botón",
            "fr": "Bouton",
            "it": "Pulsante",
            "ja": "ボタン",
            "pt-BR": "Botão"
          }
        },
        {
          "value": "select",
          "label": {
            "de": "Dropdown",
            "en": "Dropdown",
            "es": "Desplegable",
            "fr": "Menu déroulant",
            "it": "Menu a tendina",
            "ja": "ドロップダウン",
            "pt-BR": "Menu suspenso"
          }
        }
      ]
    },
    {
      "type": "header",
      "content": {
        "de": "Schaltfläche In den Warenkorb",
        "en": "Add to cart button",
        "es": "Añadir al carrito",
        "fr": "Bouton d'ajout au panier",
        "it": "Pulsante \"Aggiungi al carrello\"",
        "ja": "カートボタンに追加する",
        "pt-BR": "Botão Adicionar ao carrinho"
      }
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": {
        "de": "Dynamischen Checkout-Button anzeigen",
        "en": "Show dynamic checkout button",
        "es": "Mostrar botón de pago dinámico",
        "fr": "Afficher le bouton de passage à la caisse dynamique",
        "it": "Mostra pulsante di check-out dinamico",
        "ja": "動的チェックアウトボタンを表示する",
        "pt-BR": "Exibir botão dinâmico de finalização da compra"
      },
      "info": {
        "de": "Geben Sie Kunden die Möglichkeit, direkt mit einer vertrauten Zahlungsmethode auszuchecken. [Mehr Infos](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "en": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "es": "Permite a los clientes pagar directamente usando un método de pago familiar. [Más información](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)",
        "fr": "Permet aux clients de passer directement à la caisse en utilisant un moyen de paiement familier. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "it": "Fai in modo che i clienti effettuino il check-out direttamente utilizzando un metodo di pagamento a loro conosciuto. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ja": "使い慣れた決済方法を使用して、お客様に直接チェックアウトしてもらいましょう。[もっと詳しく](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-BR": "Permite que os clientes finalizem os pedidos na hora usando um método de pagamento salvo. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
      },
      "default": false
    },
    {
      "type": "select",
      "id": "add_to_cart_button_size",
      "label": {
        "de": "Schaltflächengröße",
        "en": "Button size",
        "es": "Tamaño del botón",
        "fr": "Taille du bouton",
        "it": "Dimensione pulsante",
        "ja": "ボタンのサイズ",
        "pt-BR": "Tamanho do botão"
      },
      "default": "small",
      "options": [
        {
          "value": "small",
          "label": {
            "de": "Klein",
            "en": "Small",
            "es": "Pequeña",
            "fr": "Petit",
            "it": "Piccolo",
            "ja": "小",
            "pt-BR": "Pequeno"
          }
        },
        {
          "value": "large",
          "label": {
            "de": "Groß",
            "en": "Large",
            "es": "grande",
            "fr": "Grand",
            "it": "Grande",
            "ja": "大",
            "pt-BR": "Grande"
          }
        }
      ]
    },
	{
        "type": "page",
        "id": "hypervisual_page",
        "label": "Page"
    }
  ]
}
{% endschema %}
